/* CSS file */

global {font-size:12px}

Alert
{
	borderSkin: Embed(source="../image/alert.png");
	backgroundSize: "100%";
	titleStyleName: alertTitle;
	controlBarStyleName: alertControlBar;
	statusStyleName: alertStatus;
	borderThicknessBottom: 10;
	borderThicknessRight: 10;
	borderThicknessLeft: 10;
	borderThicknessTop: 2;
	cornerRadius: 4;
	paddingTop: 10;
	paddingBottom: 10;
	buttonStyleName: alertButton;
}

.alertButton
{
	skin: Embed(source="../image/alert_btn.png");
	textDecoration: none;
	upSkin: Embed(source="../image/alert_btn.png");
	downSkin: Embed(source="../image/alert_btn_d.png");
	focusSkin: Embed(source="../image/alert_btn_e.png");
	overSkin: Embed(source="../image/alert_btn_e.png");
	fontAntiAliasType: advanced;
	fontStyle: normal;
	fontWeight: normal;
	color: #FFFFFF;
	textSelectedColor: #FFFFFF;
	fontSize: 12;
	themeColor: #FFFFFF;
	errorColor: #FFFFFF;
	textRollOverColor: #FFFFFF;
	
}

.opButton
{
	skin: Embed(source="../image/button/btn1.png");
	textDecoration: none;
	upSkin: Embed(source="../image/button/btn1.png");
	downSkin: Embed(source="../image/button/btn2.png");
	fontAntiAliasType: advanced;
	fontStyle: normal;
	fontWeight: normal;
	color: #FFF000;
	textSelectedColor: #FFF000;
	fontSize: 12;
	errorColor: #FFFFFF;
	textRollOverColor: #FFFF80;
	disabledSkin: Embed(source="../image/button/btn3.png");
	overSkin: Embed(source="../image/button/btn4.png");
	selectedDisabledSkin: Embed(source="../image/button/btn3.png");
	selectedDownSkin: Embed(source="../image/button/btn2.png");
	selectedOverSkin: Embed(source="../image/button/btn2.png");
	selectedUpSkin: Embed(source="../image/button/btn2.png");
	
}

.alertTitle
{
}
.alertControlBar
{
	
}
.alertStatus
{
}

.bigButton
{
	skin: Embed(source="../image/big_btn_u.png");
	textDecoration: none;
	upSkin: Embed(source="../image/big_btn_u.png");
	downSkin: Embed(source="../image/big_btn_d.png");
	focusSkin: Embed(source="../image/big_btn_e.png");
	overSkin: Embed(source="../image/big_btn_e.png");
	fontAntiAliasType: advanced;
	fontStyle: normal;
	fontWeight: normal;
	color: #FFFFFF;
	textSelectedColor: #FFFFFF;
	fontSize: 12;
	themeColor: #FFFFFF;
	errorColor: #FFFFFF;
	textRollOverColor: #FFFFFF;
	
}


.myToggleButtonBar
{
	firstButtonStyleName: tabButton;
	lastButtonStyleName: tabButton;
	buttonStyleName: tabButton;
	
	
}

.toggleButtonBarFirstButton
{
	upSkin: Embed(source="../image/alert_btn.png");
	overSkin: Embed(source="../image/alert_btn_e.png");
	downSkin: Embed(source="../image/alert_btn_d.png");
	
	selectedUpSkin: Embed(source="../image/alert_btn_d.png");
	selectedOverSkin: Embed(source="../image/alert_btn_d.png");
	selectedDownSkin: Embed(source="../image/alert_btn_d.png");
	selectedDisabledSkin: Embed(source="../image/alert_btn_d.png");
	
}

.tabButton
{
	upSkin: Embed(source="../image/tabButtonA.png");
	overSkin: Embed(source="../image/tabButtonA.png");
	downSkin:  Embed(source="../image/tabButtonB.png");
	
	selectedUpSkin: Embed(source="../image/tabButtonB.png");
	selectedOverSkin: Embed(source="../image/tabButtonB.png");
	selectedDownSkin: Embed(source="../image/tabButtonB.png");
	selectedDisabledSkin: Embed(source="../image/tabButtonB.png");
	
}





.myTabNavigator {
		backgroundAlpha: 0.5;
	backgroundColor: #000000;
	borderColor: #aab3b3;
	color: #ffffff;
	tabStyleName: "myTabs";
	firstTabStyleName: "myTabs";
	lastTabStyleName: "myTabs";
	selectedTabTextStyleName: "mySelectedTabs";
}

.myTabs {
	fillColors: #333333, #000000;
	backgroundAlpha: 0.5;
	backgroundColor: #000000;
	color: #333333;
	textRollOverColor: #ffffff;
	themeColor: #333333;
	
}

.mySelectedTabs {
	color: #ffffff;
	textRollOverColor: #ffffff;
}


.VScrollBar2
{   
	/*上面箭头的样式*/  
	/*
	up-arrow-skin:Embed(source="../image/bg/bar.png");   
	*/
	upArrowUpSkin:   
		Embed(source="../image/track1/rollup.png");   
	upArrowOverSkin:   
		Embed(source="../image/track1/rollup.png");   
	upArrowDownSkin:   
		Embed(source="../image/track1/rollup1.png");   
	upArrowDisabledSkin:   
		Embed(source="../image/track1/rollup.png");   
	
	
	
	/*下面箭头的样式*/  
	downArrowUpSkin:   
		Embed(source="../image/track1/rolldwon.png");   
	downArrowOverSkin:   
		Embed(source="../image/track1/rolldwon.png");   
	downArrowDownSkin:   
		Embed(source="../image/track1/rolldwon1.png");  
	downArrowDisabledSkin:   
		Embed(source="../image/track1/rolldwon.png");   
	
	
	thumbDownSkin:   
		Embed(source="../image/track1/bar.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7");  
	
	thumbUpSkin:   
		Embed(source="../image/track1/bar.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7"); 
	
	thumbOverSkin:   
		Embed(source="../image/track1/bar.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7"); 
	
	thumbDisabledSkin:   
		Embed(source="../image/track1/bar.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7");    


	trackSkin:   
		Embed(source="../image/track1/trcak.png",   
		scaleGridLeft="7", scaleGridTop="9",   
		scaleGridRight="8", scaleGridBottom="10");
}  


.VScrollBar
{   
	/*上面箭头的样式*/  
	/*
	up-arrow-skin:Embed(source="../image/bg/bar.png");   
	*/
	upArrowUpSkin:   
		Embed(source="../image/track2/rollup.png");   
	upArrowOverSkin:   
		Embed(source="../image/track2/rollup.png");   
	upArrowDownSkin:   
		Embed(source="../image/track2/rollup1.png");   
	upArrowDisabledSkin:   
		Embed(source="../image/track2/rollup.png");   
	
	
	
	/*下面箭头的样式*/  
	downArrowUpSkin:   
		Embed(source="../image/track2/rolldwon.png");   
	downArrowOverSkin:   
		Embed(source="../image/track2/rolldwon.png");   
	downArrowDownSkin:   
		Embed(source="../image/track2/rolldwon1.png");  
	downArrowDisabledSkin:   
		Embed(source="../image/track2/rolldwon.png");   
	
	
	thumbDownSkin:   
		Embed(source="../image/track2/bar.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7");  
	
	thumbUpSkin:   
		Embed(source="../image/track2/bar.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7"); 
	
	thumbOverSkin:   
		Embed(source="../image/track2/bar.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7"); 
	
	thumbDisabledSkin:   
		Embed(source="../image/track2/bar.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7");    
	
	
	trackSkin:   
		Embed(source="../image/track2/trcak.png",   
		scaleGridLeft="7", scaleGridTop="9",   
		scaleGridRight="8", scaleGridBottom="10");
	cornerRadius: 0;
}  

.taskDetailBG
{  
	border-skin:ClassReference('Class.MyBackgroundSkin');  
	background-image:Embed("../image/bg/gbg.png");  
	backgroundImagePosition:left,top;/*第一个参数可用值：left,center,right,默认值left;第二个参数可用值：top,middle,bottom,默认值top*/  
	backgroundImageRepeat:repeat;/*可用值：repeat,no-repeat,repeat-x,repeat-y,默认值no-repeat*/  
	background-size:100;  
}


.myTest
{
	backgroundColor: #828282;
	borderColor: #000000;
	borderStyle: outset;
	borderThickness: 8;
	cornerRadius: 5;
}


